.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 35px;
}

body{
    margin: 0px 10%;
}

nav{
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    font-family: sora;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

header li{
    display: inline-block;
    padding: 8px;
    justify-content: center;
    margin: 10px;
}

nav a {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
}

nav a:hover {
    color: #8670eb;
}

.intro{
    font-family: sora;
    width: auto;
    margin-top: 50px;
    grid-column: 1 / span 4; 
    grid-row: 1 / span 3;  

}

.intro h1{
    font-size: 70px;
    width: auto;
}

.intro p{
    font-size: 20px;
}

.intro button {
    font-family: sora;
    color: white;
    width: 30%;
    height: 75px;
    margin: 5px;
    border-radius: 10px;
    background-color: #8670eb;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.about-me:hover,
.my-work:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}


.skills {
    grid-column: 1 / span 4; 
    grid-row: 4 / span 1;  
    font-family: sora;
    color: black;
}

.skills-container {
    width: auto;
    margin-top: 20px;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

.skills-container i {
    color: #2b2b2b;
}

.skills i:hover{
    font-size: 39px;
    color: #4b4b4b;
    transition: font-size 0.9s ease;
}

.profile{
    display: flex;
    align-items: center;
}

#profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    text-align: center;
}

#profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}

.reviews{
    float: c;
    text-align: center;
    color: #ece800;
    position: relative;
    bottom: 20px;
}

.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
    padding: 30px;
    text-align: center;
    position: relative;
    bottom: 8px;
}

.testimonial-1{
    grid-column: 5 / span 4;
    grid-row: 1 / span 2;
}

.testimonial-2{
    grid-column: 5 / span 4;
    grid-row: 2 / span 3;
}

.testimonial-3{
    grid-column: 5 / span 4;
    grid-row: 1 / span 2;
}

.testimonial-4{
    grid-column: 5 / span 4;
    grid-row: 2 / span 3;
}

.testimonial-1, .testimonial-2, .testimonial-3, .testimonial-4{
    background-color: #8770eb2a;
    justify-self: center;
    align-self: center;
    max-height: 250px;
    padding: 10px;
    width: 70%;
    margin-left: 50px;
    font-family: sora;
    font-size: 1.5em;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#togglePage1 {
    grid-column: 8;
    grid-row: 1 / 3; 
    position: relative;
    right: 8%;
    top: 4%;
    background: none;
    border: none;
    font-size: 3em;
    color: #4b4b4b7e;
    cursor: pointer;
}

#togglePage2 {
    grid-column: 8;
    grid-row: 3 / 3; 
    position: relative;
    right: 8%;
    top: 48%;
    background: none;
    border: none;
    font-size: 3em;
    color: #4b4b4b7e;
    cursor: pointer;
}

#togglePage3{
    grid-column: 5;
    grid-row: 1 / 3; 
    position: relative;
    left: 35%;
    top: 4%;
    background: none;
    border: none;
    font-size: 3em;
    color: #4b4b4b7e;
    cursor: pointer;
}

#togglePage4{
    grid-column: 5;
    grid-row: 4; 
    left: 35%;
    bottom: 77%;
    position: relative;
    background: none;
    border: none;
    font-size: 3em;
    color: #4b4b4b7e;
    cursor: pointer;
}


footer {
    /* margin-top: 10%; */
    text-align: center;
    font-size: 18px;
}

footer a{
    color: #2b2b2b;
    font-size: 24px;
    padding: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sora;
    width: 40%;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    margin: 3px;
    font-family: sora;
    background-color: #8770eb2a;
    border: none;
}

.contact-form textarea {
    width: 100%;
    padding: 11px;
    background-color: #8770eb2a;
    border: none;
    margin: 3px;
}

.contact-form button {
    width: 90px;
    padding: 10px;
    float: right;
    position: relative;
    left: 24px;
    background-color: #8670eb;
    color: white;
    border: none;
    cursor: pointer;
}




.testimonial-2, .testimonial-4{
    margin-top: 110px;
}

/* responsive styles */


/* testimonials responsiveness */
    @media only screen and (max-width:1582px){
        .reviews{
            position: relative;
            bottom: 29px;
        }
    }

/* desktop */
@media only screen and (max-width:1581px){
    .testimonial-1, .testimonial-2, .testimonial-3, .testimonial-4{
        height: 290px;
    }
}

@media only screen and (max-width:1480px) {
    body {
        margin: 0px 8%;
    }

    nav{
        padding: 0px;
        margin-right: 0px;
    }
    .client-comment p{
        bottom: 18px;
    }
}


@media only screen and (max-width:1290px) {

    header img{
        padding: 0px;
        margin-right: 0px;
    }

    .testimonial-1, .testimonial-2, .testimonial-3, .testimonial-4{
        margin-left: 90px;
    }

    .reviews{
        bottom: 40px;
    }

    #togglePage1, #togglePage2{
        width: 70px;
        left: 34px;
    }

}

/* Tablets */ 
@media only screen and (max-width:1190px){
    .grid-container{
        grid-template-rows: repeat(6, 1fr);
    }

    nav{
        display: none;
    }

    .intro{
        columns: 1 / span 8;
    }

    .intro h1, .intro p{
        display: block;
        width: 200%;
        text-align: center;
    }

    .reviews{
        display: none;
    }

    .buttons{
        display: inline-block;
        width: 200%;
        text-align: center;
        margin: 0 auto; /* Center horizontally */
    }    
    
    .testimonial-1{
        grid-column: 1 / span 4;
        grid-row: 4 / span 2;
        width: 90%;
        margin-left: 0;
    }
    
    .testimonial-2{
        grid-column: 5 / span 4;
        grid-row: 4 / span 2;
        width: 90%;
        margin-top: 0;
        margin-left: 0;
    }
    .skills {
        grid-column: 1 / span 6; 
        grid-row: 6 / span 8;    
    }

    #togglePage1, #togglePage2{
        display: none;
    }

    
    .testimonial-3{
        grid-column: 1 / span 4;
        grid-row: 4 / span 2;
        width: 90%;
    }
    
    .testimonial-4{
        grid-column: 5 / span 4;
        grid-row: 4 / span 2;
        width: 90%;
        margin-top: 0;
    }

    #intro h1{
        font-size: 50px;
    }
} 
