body{
    margin: 0px 190px;
}

nav{
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    font-family: sora;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

header li{
    display: inline-block;
    padding: 8px;
    justify-content: center;
    margin: 10px;
}

nav a {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
}

nav a:hover {
    color: #8670eb;
}

#intro{
    font-family: sora;
    width: 50%;
    margin-top: 90px;
}

#intro h1{
    font-size: 80px;
}

#intro p{
    font-size: 20px;
}

#intro button {
    font-family: sora;
    color: white;
    width: 30%;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    background-color: #8670eb;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.about-me:hover,
.my-work:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

#skills {
    font-family: sora;
    color: black;
}

.skills-container {
    width: 50%;
    margin-top: 20px;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

.skills-container i {
    color: #2b2b2b;
}



/* Contact page */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sora;
    width: 40%;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    margin: 3px;
    font-family: sora;
    background-color: rgb(247, 239, 229);
    border: none;
}

.contact-form textarea {
    width: 100%;
    padding: 11px;
    background-color: rgb(247, 239, 229);
    border: none;
    margin: 3px;
}

.contact-form button {
    width: 90px;
    padding: 10px;
    float: right;
    position: relative;
    left: 24px;
    background-color: #8670eb;
    color: white;
    border: none;
    cursor: pointer;
}


footer {
    margin-top: 10%;
    text-align: center;
    font-size: 18px;
}

footer a{
    color: black;
    font-size: 40px;
    padding: 20px;
}